@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,400;0,500;1,100;1,300;1,400&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg: #1e272e;
  --main-color: #0097e6;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.row {
  margin: 0 !important;
}
.App_Read {
  background: #ffffff;
  box-shadow: 0px 4px 4px #ebebeb;
  font-style: normal;
  height: 4rem;
  border: none;
  font-size: 1.6rem !important;
  margin-top: 1rem;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  color: #0047ab;
}
.App_Read h4 i {
  margin-right: 0.5rem;
  color: #0047ab;
}
.App_Read h4{
  color: #0047ab;
}
.navbar button {
  
color: #0047AB !important;
border-radius: 1px;
  
}
.navba {
  position: absolute;
  width: 100%;
  height: 86px;
  left: 0px;
  top: 63px;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.nav-item {
  margin-left: 1rem !important;
  font-size: 1.6rem !important;
}
.navbar a {
  color: #000;
}
.nav-item a {
  text-transform: uppercase;
}
.nav-item span {
  font-weight: 100;
}
.navbar-toggler-icon {
  color: #395fa9 !important;
}
.navbar a:hover {
  color: #395fa9 !important;
}
.navbar-brand {
  font-size: 1.6rem !important;
  margin-left: 1rem !important;
  text-transform: uppercase;
}
.main_header_left {

  order:1;
}
.main_header_right {
  order:2;
}
.main_header_left h1 {
  margin-top: 2rem !important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 4.8rem;
  line-height: 59px;
  text-transform: capitalize;
  color: #2b2d42;
}
.main_header_left p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 29px;
  text-transform: capitalize;
}
.main_header_left a button {
  width:21rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0.5rem 0 2rem 0 !important;
  font-family: Montserrat;
  font-style: normal;
  padding: 0.9rem 1.9rem;
  letter-spacing: 0.07rem;
 
}
.main_head {
  margin-left: 2rem;
  background: linear-gradient(44.42deg, #fff1e1 28.4%, #ffffff 52.55%);
}

.location {
  height: 5rem !important;
  display: flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(208.56deg, #ffc03d -29.1%, #ffc107 64.78%);
}
.location h5 {
  text-transform: uppercase;
  display: flex;
  align-items: center !important;
  justify-content: center;
  padding: 1rem 0;
}
.location i {
  margin-right: 0.7rem;
}
.Call {
  margin-top: 2rem;
}
.card {
  margin-top: 1rem;
}
.cards_tt {
}
.card_1 img {
  width: 151.08px;
  height: 120px;
}
.cards {
  max-width: 775px !important;
}
.card_1 h5 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: -0.005em;

  color: #2b2d42;
}
.card_1 p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.005em;

  color: #2b2d42;
}
.chap {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.peace{
  
  display: flex;
flex-direction:column;
justify-content: center;
align-items: center;
}
.peace h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;

  color: #2b2d42;
}
.peace h3 span{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold !important;
  font-size: 24px;
  line-height: 20px;
  
  color: #2B2D42;
}
.peace p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  /* or 161% */

  letter-spacing: -0.007em;

  color: #2b2d42;
}

.chap h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  /* identical to box height */

  letter-spacing: -0.005em;

  color: #2b2d42;
}
.chap p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2rem;

  letter-spacing: -0.007em;

  color: #2b2d42;
}
.best {
  height: 300px;
  background: radial-gradient(
      80.11% 80.11% at 50% 19.89%,
      #f3f5f9 0%,
      rgba(243, 245, 249, 0.5) 100%
    ),
    #ffffff;
  margin-bottom: 2.4rem;
}
.Best_title h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  color: #2b2d42;
}
.Best_title h1 span {
  color: #ff8400;
}
.best_1 {
  text-align: center;
}
.best_1 h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.005em;

  color: #2b2d42;
}
.img_1 {
  border-radius: 50%;
}
.Health {
  background: #395fa9;
}
.Health_butt h1 {
  margin-top: 1rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.5rem;

  color: #ffffff;
}
.main_header_right {
  display: flex;
  align-items: center;
}
.main_header_rights{
  display:flex;
align-items: center;
}
.main_header_rights h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  
  color: #FFFFFF;
}
.Health_butt a button {
  font-size: 1rem;
  background-color: #fff;
  color: #395fa9 !important;
  text-transform: uppercase;
  margin: 1rem 0;
  padding: 1.1rem 2rem !important;
}
.Health_butt {
  display: flex;
  flex-direction: column;
}
.footer-section h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 20px;
  text-transform: uppercase;

  color: #ff8400;
}
.footer-section p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  /* identical to box height, or 28px */

  color: #2b2d42;
}
.footer-section p i {
  margin-right: 0.5rem;
  color: linear-gradient(208.56deg, #ffc03d 20.22%, #ff8b08 64.78%);
}
.Footer_brand img {
  width: 10rem;
}
.footer_img {
  display: flex;
  margin: 1rem 0;
}
.footer_img img {
  margin-right: 1rem;
}
.dd {
  display: flex;
  justify-content: flex-start;
}
.input_foot {
  display: flex;

  justify-content: flex-start;
}
.input_foot button {
  width: 7rem;
  margin-top: 0.5rem;
}
.footer_icon i {
  font-size: 1.5rem;
  margin-left: 0.3rem;
  color: #395fa9;
}
.footer-section Input {
  width: 100%;
}
.footer-section h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 17px;
  /* identical to box height, or 28px */

  color: #2b2d42;
}
.services_1 {
  display: flex;
  justify-content: space-between;
}
.ratings {
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
  background: linear-gradient(
    95.15deg,
    #fff1e1 0%,
    #fffbf7 87.89%,
    #ffffff 99.36%
  );
}
.ratings i {
  color: #ffc107;
  margin-right: 0.2rem;
}
.carousel-item {
  background-color: #fff;
  width: 200px;
  padding-left: 1rem;
  color: #000000;
  margin-left: 10rem;
}
.rat {
  padding-left: 1rem;
  height: 200px;
  width: 200px;

  background-color: #fff;
  color: #000000;
  margin: 0 15px;
  font-size: 1rem;
}
.carousel-item h3 {
  margin-bottom: 1rem;
}
.rama {
  height: auto;
}
.carousel-item i {
  margin-bottom: 1rem;
}
.carousel-item img {
  width: 800px;
  height: 250px;
}
.card{
  width:auto;
  height:auto;
}
.card h5 {
  font-size: 2rem;
}
.card h6 {
  font-size: 1.5rem;
}
.show {
  display: none !important;
}
.cc {
  display: flex;
}
.show1 {
  visibility: visible;
}

.chao {
  display:flex;
justify-content: center;
}
.main_header_rights{
display: flex;
align-items: center;
justify-content: center;
}
.main_header_rights a{
display: flex;
justify-content: center;
}
.main_header_lefts{
  display: flex;
  justify-content: center;
}
.footer-section i{
color:#FFC03D  !important;
}
@media (max-width: 768px) {
  .main_header_lefts img{
width:200px;
  }
  .main_header_rights h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
line-height: 20px;
text-align: center;
    
    color: #FFFFFF;
  }
  .main_header_left {
    order:2;
  }
  .main_header_right {
    order:1;
  }
  
  .show {
    display:block !important;
  }
  .show1 {
    display: none;
  }
  .App_Read {
    font-size: 10rem !important;
  }
  .main_header_left h1 {
    font-size: 2.4rem;
    line-height: 29px;
  }
  .main_header_left p {
    font-size: 1.2rem;
    line-height: 15px;
  }
  .location {
    height: auto;
  }
  .location h5 {
    padding: 0.3rem 0;
  }
  .main_header_left a button {
    margin: auto;
    padding: auto;
  }
  .card{
    width:300px;
    height:300px;
  }
  .card img{
    width:150px;
  }
  .card h5{
    font-size:1rem;
  }
  .card p{
    font-size:0.7rem;
  }
  .card_1 {
    height: auto;
  }
  .card_1 img {
    width: auto;
    height: auto;
  }
  .card_1 h5 {
    font-size: 18px;
    line-height: 22px;
  }
  .card_1 p {
    font-size: 16pxpx;
    line-height: 22pxpx;
  }
  .best {
    height: auto;
  }
  .best_1 h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.005em;
    
    color: #2B2D42;
  }
  .best_1 p{
  
font-size: 11px;
line-height: 10px;
text-align: center;
letter-spacing: -0.005em;

color: #2B2D42;

  }
.chap h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.005em;
  
  color: #2B2D42;
}
.chap p{
  font-size: 13px;
  line-height: 13px;
 
  letter-spacing: -0.007em;
  

}
  .Best_title h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  .Health_butt a button {
    font-size: 1rem;

    padding: 0.1rem 0.5rem;
  }
  .footer-section h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    align-self: center !important;
    color: #FF8400;
  }
  .footer-section h4 {
    
font-size: 16px;
line-height: 18px;
/* identical to box height, or 28px */


color: #2B2D42;
  }
  .footer-section p {
    font-size: 11px;
line-height: 13px;
/* or 175% */


color: #2B2D42;
  }
  .input_foot {
    display: flex;

    justify-content: flex-end;
  }
  .rat {
    height: 200px !important;
    width: 200px !important;
  }
  .carousel-item {
    margin-left: 0rem;
  }
  .rama {
    height: auto;
  }
  .peace h3{
   font-size:1.5rem;
   line-height: 15px;
  }
  .peace h3 span{
    
    font-size: 1.3rem;
    line-height: 15px;
    
    color: #2B2D42;
  }
  .peace p{
    font-size:1rem;
    line-height: 10px;
  }
}
